
.containerCalendar
{
    width: 300px;
    background-color: aliceblue;
    height: 355px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);

}
.containerHeaderCalendar
{
    border-bottom: 1px solid black;
    width: 300px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: aliceblue;
}
.containerDays
{
    border-top: 1px solid black;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}

.containerElements
{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#date, .containerButtonsGoAndBackDate
{
    width: 150px;
    height: 50px;
}

#date
{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
}


.containerButtonsGoAndBackDate
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
}

#go, #back
{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC0CB;
}

#go:hover, #back:hover
{
    background-color: #ff8599;
}

.calendar
{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    grid-template-rows: repeat(5, 1fr);  /* 5 Rows */
    gap: 5px; /* gap between cells */
    width: 300px;
    height: 250px;
    margin: auto;
}

.calendar button
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: none;
    background-color: aliceblue;
    font-weight: 600;
}

.calendar button:hover
{
    background-color: rgb(146, 198, 244);
}

.calendar button:active
{
    transform: scale(0.9);
}

